node_modules
.DS_Store
dist
dist-ssr
*.local
.env
.nitro
.tanstack
.wrangler
.output
.vinxi
__unconfig*
todos.json
# Secrets
.env*

# Dependencies
node_modules

# OS files
.DS_Store
Thumbs.db
./backend/.env
*/node_modules
./CLAUDE.md